MAINTAFOX_ENV=development
MAINTAFOX_DB_PATH=
MAINTAFOX_DB_ENCRYPT=false
MAINTAFOX_SQL_LOG=false
MAINTAFOX_VPS_URL=
RUST_LOG=maintafox=info
# DO NOT set TAURI_SIGNING_PRIVATE_KEY in development environments
